fastapi
uvicorn
jinja2
transformers
Pillow
tensorflow
# Por defecto, instala torch solo para CPU. Si necesitas soporte CUDA (GPU), revisa el README.
torch --index-url https://download.pytorch.org/whl/cpu
python-multipart
python-dotenv
huggingface_hub