fastapi
uvicorn
jinja2
transformers
Pillow
tensorflow==2.19.0
python-multipart
python-dotenv
huggingface_hub
# Dependencias adicionales para evitar conflictos de versiones
pydantic==1.10.15
torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu
